h1{font-family: Helvetica neue, roboto;font-size: 50px ; color: blue;

      }


      a:hover{color:yellow;

      }
      .profile{
         width:50px;
         height:50px;
         border-radius:50%;
         margin-top: 100px;
         display: block;

      }
   p{ display:inline;


   }

nav{
   display: inline;
}

html{
font-family: "Roboto";

}